body {
  background-color: #EE4036;
}

img.cfl-logo {
 /*  filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.6));  */
}

@keyframes glowing {
  0% { filter: drop-shadow(0 0 -10px #FFF100); }
  40% { filter: drop-shadow(0 0 40px #FFF100); }
  60% { filter: drop-shadow(0 0 50px #FFF100); }
  100% { filter: drop-shadow(0 0 -10px #FFF100); }
}

img.cfl-logo {
  animation: glowing 2800ms infinite;
}

@keyframes shake-logo {
  0% { transform: translate(-8px, -14px); }
  33% { transform: translate(-10px, -14px); }
  66% { transform: translate(-10px, -16px); }
  100% { transform: translate(-8px, -16px); }
}

.cfl-logo:hover {
  animation: shake-logo .1s infinite alternate;
  padding:18px 0 0 10px; 
}
